<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="keybon.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="MacroBoardManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <userSettings>
        <keybon.Properties.Settings>
            <setting name="portName" serializeAs="String">
                <value />
            </setting>
            <setting name="checkedBox1" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox6" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox7" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox8" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox9" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox10" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox11" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox12" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox13" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox14" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkedBox15" serializeAs="String">
                <value>False</value>
            </setting>
        </keybon.Properties.Settings>
        <MacroBoardManager.Properties.Settings>
            <setting name="portName" serializeAs="String">
                <value/>
            </setting>
        </MacroBoardManager.Properties.Settings>
    </userSettings>
</configuration>
